In [5]:
import pandas as pd
import numpy as np
import os

In [24]:

def calc_distance(start, end, node_df):
    d_x = node_df[node_df['node'] == start]['x'].values[0] - node_df[node_df['node'] == end]['x'].values[0]
    d_y = node_df[node_df['node'] == start]['y'].values[0] - node_df[node_df['node'] == end]['y'].values[0]
    return np.sqrt(d_x ** 2 + d_y ** 2)
print(os.getcwd())

/Users/jburger/Documents/Promotion/21_Network_model/Energy-Carbon-Optimization-Platform/preprocess

In [45]:
# truck_dist = get_connection_df(truck_connections, node_df=nodes_df)
def get_connection_df(connection_list, node_df):
    ls = []
    for con in connection_list:
        start = con[0]
        end = con[1]
        dist = calc_distance(start, end, node_df)
        ls.append([f'{start}-{end}', dist])
    dist_df = pd.DataFrame(ls, columns = ['edge', 'distance'])
    return dist_df

In [40]:
node_df = pd.read_csv('../data/Node_data/set_pioneering_Nodes.csv')
# print(node_df[node_df['node'] == 'ARA_WH_CH']['x'].values[0])
node_df

                node            x            y
0           ARA_B_CH   380.435471  5203.268033
1          ARA_WH_CH   460.846459  5249.761798
2             BGO_NO   296.764044  6700.500420
3           Basel_CH   394.156760  5271.468456
4         Carbfix_IS  -994.989361  7486.339852
5     HC_Gorazdze_PL  1135.595689  5636.514395
6     HC_Hannover_DE   559.357155  5803.026642
7      JC_Wildegg_CH   436.722677  5251.600473
8   KVA_Hagenholz_CH   467.182552  5251.288794
9       KVA_Linth_CH   503.056741  5220.280929
10            RTM_NL   184.890455  5757.360117
11           Reyk_IS  -957.577953  7481.098474
12           Rong_NO   274.420673  6720.247567
13   SE_Skutskaer_SE   957.974550  6752.402354

In [43]:
truck_connections = [
    ['ARA_B_CH', 'Basel_CH'],
    ['ARA_WH_CH', 'Basel_CH'],
    ['BGO_NO', 'Rong_NO'],
    ['Reyk_IS', 'Carbfix_IS'],
    ['JC_Wildegg_CH', 'Basel_CH'],
]

train_connections = [
    ['Basel_CH', 'RTM_NL'],
    ['JC_Wildegg_CH', 'Basel_CH'],
]

ship_connections = [
    ['RTM_NL', 'BGO_NO'],
    ['RTM_NL', 'Reyk_IS'],
]

In [47]:
df_truck = get_connection_df(truck_connections, node_df)
df_train = get_connection_df(train_connections, node_df)
df_ship = get_connection_df(ship_connections, node_df)
df_train

                     edge    distance
0         Basel_CH-RTM_NL  529.039784
1  JC_Wildegg_CH-Basel_CH   46.974398

In [49]:
df_truck.to_csv('../data/Pioneering_CCTS/setTransportTechnologies/carbon_truck/distances_truck.csv', index=False)
df_train.to_csv('../data/Pioneering_CCTS/setTransportTechnologies/carbon_train/distances_train.csv', index=False)
df_ship.to_csv('../data/Pioneering_CCTS/setTransportTechnologies/carbon_ship/distances_ship.csv', index=False)